[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "==6.2.0"
peewee = "==3.14.8"
pyqt6-charts = "==6.2.0"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
